serverless/statemachines/auction_close.asl.json
{
  "Comment": "Auction Close Workflow",
  "StartAt": "VerifyAuctionEnded",
  "States": {
    "VerifyAuctionEnded": {
      "Type": "Task",
      "Resource": "${VerifyAuctionEndedFunctionArn}",
      "Parameters": {
        "listing_id.$": "$.listing_id"
      },
      "ResultPath": "$.auction_result",
      "Next": "CheckWinner"
    },
    "CheckWinner": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.auction_result.winner_id",
          "IsPresent": true,
          "Next": "CreateOrder"
        }
      ],
      "Default": "MarkAuctionFailed"
    },
    "MarkAuctionFailed": {
      "Type": "Pass",
      "End": true
    },
    "CreateOrder": {
      "Type": "Task",
      "Resource": "${CreateOrderFunctionArn}",
      "Parameters": {
        "listing_id.$": "$.listing_id",
        "buyer_id.$": "$.auction_result.winner_id",
        "amount.$": "$.auction_result.winning_bid"
      },
      "ResultPath": "$.order",
      "Next": "LockEscrow"
    },
    "LockEscrow": {
      "Type": "Task",
      "Resource": "${LockEscrowFunctionArn}",
      "Parameters": {
        "user_id.$": "$.auction_result.winner_id",
        "amount.$": "$.auction_result.winning_bid",
        "lock_reference_id.$": "$.listing_id",
        "order_id.$": "$.order.order_id",
        "seller_id.$": "$.order.seller_id",
        "fee.$": "$.order.fee"
      },
      "Next": "UpdateOrderPaid"
    },
    "UpdateOrderPaid": {
      "Type": "Task",
      "Resource": "${UpdateOrderPaidFunctionArn}",
      "Parameters": {
        "order_id.$": "$.order.order_id"
      },
      "Next": "NotifyUsers"
    },
    "NotifyUsers": {
      "Type": "Task",
      "Resource": "${NotifyUsersFunctionArn}",
      "Parameters": {
        "order_id.$": "$.order.order_id"
      },
      "Next": "WaitEscrow"
    },
    "WaitEscrow": {
      "Type": "Wait",
      "Seconds": 604800,
      "Next": "CheckDispute"
    },
    "CheckDispute": {
      "Type": "Task",
      "Resource": "${CheckDisputeFunctionArn}",
      "Parameters": {
        "order_id.$": "$.order.order_id"
      },
      "ResultPath": "$.dispute_status",
      "Next": "IsDisputed"
    },
    "IsDisputed": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.dispute_status.is_disputed",
          "BooleanEquals": true,
          "Next": "HandleDispute"
        }
      ],
      "Default": "ReleaseEscrow"
    },
    "HandleDispute": {
      "Type": "Pass",
      "End": true
    },
    "ReleaseEscrow": {
      "Type": "Task",
      "Resource": "${ReleaseEscrowFunctionArn}",
      "Parameters": {
        "order_id.$": "$.order.order_id"
      },
      "End": true
    }
  }
}
